@{
    var hideLayoutElements = ViewData["HideLayoutElements"] as bool? ?? false;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="blue-theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GittBilSMS</title>
    @{
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        var isLoginPage = currentController == "Account" && currentAction == "Index";
    }
    
@if (!isLoginPage)
{
    <link href="assets/css/pace.min.css" rel="stylesheet">
    <script src="assets/js/pace.min.js"></script>
}
    <!--plugins-->
    <link href="assets/plugins/bs-stepper/css/bs-stepper.css" rel="stylesheet">
    <link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/metismenu/mm-vertical.css">
    <link rel="stylesheet" type="text/css" href="assets/plugins/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css">
    <link href="assets/plugins/fancy-file-uploader/fancy_fileupload.css" rel="stylesheet">
    <link href="assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css" rel="stylesheet">
  
    <!--bootstrap css-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="sass/main.css" rel="stylesheet">
    <link href="sass/dark-theme.css" rel="stylesheet">
    <link href="sass/blue-theme.css" rel="stylesheet">
    <link href="sass/semi-dark.css" rel="stylesheet">
    <link href="sass/bordered-theme.css" rel="stylesheet">
    <link href="sass/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
   
    @if (isLoginPage)
    {
        <style>
            .main-wrapper {
               margin:0px;
            }
        </style>
    }
</head>
<body>

    @if (!hideLayoutElements)
{
    <header class="top-header">
        <nav class="navbar navbar-expand align-items-center gap-4">
            <div class="btn-toggle">
                <a href="javascript:;"><i class="material-icons-outlined">menu</i></a>
            </div>
            <div class="search-bar flex-grow-1">
                <div class="position-relative">
                    <input class="form-control rounded-5 px-5 search-control d-lg-block d-none" type="text" placeholder="Search">
                    <span class="material-icons-outlined position-absolute d-lg-block d-none ms-3 translate-middle-y start-0 top-50">search</span>
                    <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 search-close">close</span>
                    <div class="search-popup p-3">
                        <div class="card rounded-4 overflow-hidden">
                            <div class="card-header d-lg-none">
                                <div class="position-relative">
                                    <input class="form-control rounded-5 px-5 mobile-search-control" type="text" placeholder="Search">
                                    <span class="material-icons-outlined position-absolute ms-3 translate-middle-y start-0 top-50">search</span>
                                    <span class="material-icons-outlined position-absolute me-3 translate-middle-y end-0 top-50 mobile-search-close">close</span>
                                </div>
                            </div>
                            <div class="card-body search-content">
                          
                                <p class="search-title">Tutorials</p>
                                <div class="search-list d-flex flex-column gap-2">
                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="list-icon">
                                            <i class="material-icons-outlined fs-5">play_circle</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title ">Orders</h5>
                                        </div>
                                    </div>
                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="list-icon">
                                            <i class="material-icons-outlined fs-5">shopping_basket</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title">Companies</h5>
                                        </div>
                                    </div>

                                    <div class="search-list-item d-flex align-items-center gap-3">
                                        <div class="list-icon">
                                            <i class="material-icons-outlined fs-5">laptop</i>
                                        </div>
                                        <div class="">
                                            <h5 class="mb-0 search-list-title">Support Requests</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-center bg-transparent">
                                <a href="javascript:;" class="btn w-100">See All Search Results</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav gap-1 nav-right-links align-items-center">
                <li class="nav-item d-lg-none mobile-search-btn">
                    <a class="nav-link" href="javascript:;"><i class="material-icons-outlined">search</i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="avascript:;" data-bs-toggle="dropdown">
                        @{
                            var culture = System.Globalization.CultureInfo.CurrentUICulture.Name;
                            var flag = culture.StartsWith("tr") ? "02.png" : "01.png"; // adjust file names if different
                        }
                        <img src="assets/images/county/@flag" width="22" alt="">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="?culture=tr"><img src="assets/images/county/02.png" width="20" alt=""><span class="ms-2">Turkey</span></a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center py-2" href="?culture=en"><img src="assets/images/county/01.png" width="20" alt=""><span class="ms-2">English</span></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-bs-auto-close="outside"
                       data-bs-toggle="dropdown" href="javascript:;"><i class="material-icons-outlined">apps</i></a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-apps shadow-lg p-3">
                        <div class="border rounded-4 overflow-hidden">
                            <div class="row row-cols-3 g-0 border-bottom">
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/01.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Gmail</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/02.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Skype</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/03.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Slack</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->

                            <div class="row row-cols-3 g-0 border-bottom">
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/04.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">YouTube</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/05.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Google</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/06.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Instagram</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->

                            <div class="row row-cols-3 g-0 border-bottom">
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/07.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Spotify</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-end">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/08.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Yahoo</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="app-wrapper d-flex flex-column gap-2 text-center">
                                        <div class="app-icon">
                                            <img src="assets/images/apps/09.png" width="36" alt="">
                                        </div>
                                        <div class="app-name">
                                            <p class="mb-0">Facebook</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end row-->

                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" data-bs-auto-close="outside"
                       data-bs-toggle="dropdown" href="javascript:;">
                        <i class="material-icons-outlined">notifications</i>
                        <span class="badge-notify">5</span>
                    </a>
                    <div class="dropdown-menu dropdown-notify dropdown-menu-end shadow">
                        <div class="px-3 py-1 d-flex align-items-center justify-content-between border-bottom">
                            <h5 class="notiy-title mb-0">Notifications</h5>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret option" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="material-icons-outlined">
                                        more_vert
                                    </span>
                                </button>
                                <div class="dropdown-menu dropdown-option dropdown-menu-end shadow">
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">inventory_2</i>Archive All
                                        </a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">done_all</i>Mark all as read
                                        </a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">mic_off</i>Disable Notifications
                                        </a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">grade</i>What's new ?
                                        </a>
                                    </div>
                                    <div>
                                        <hr class="dropdown-divider">
                                    </div>
                                    <div>
                                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                                            <i class="material-icons-outlined fs-6">leaderboard</i>Reports
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notify-list">
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="assets/images/avatars/01.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">Congratulations Jhon</h5>
                                            <p class="mb-0 notify-desc">Many congtars jhon. You have won the gifts.</p>
                                            <p class="mb-0 notify-time">Today</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="user-wrapper bg-primary text-primary bg-opacity-10">
                                            <span>RS</span>
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">New Account Created</h5>
                                            <p class="mb-0 notify-desc">From USA an user has registered.</p>
                                            <p class="mb-0 notify-time">Yesterday</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="assets/images/apps/13.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">Payment Recived</h5>
                                            <p class="mb-0 notify-desc">New payment recived successfully</p>
                                            <p class="mb-0 notify-time">1d ago</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="assets/images/apps/14.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">New Order Recived</h5>
                                            <p class="mb-0 notify-desc">Recived new order from michle</p>
                                            <p class="mb-0 notify-time">2:15 AM</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item border-bottom py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="">
                                            <img src="assets/images/avatars/06.png" class="rounded-circle" width="45" height="45" alt="">
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">Congratulations Jhon</h5>
                                            <p class="mb-0 notify-desc">Many congtars jhon. You have won the gifts.</p>
                                            <p class="mb-0 notify-time">Today</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a class="dropdown-item py-2" href="javascript:;">
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="user-wrapper bg-danger text-danger bg-opacity-10">
                                            <span>PK</span>
                                        </div>
                                        <div class="">
                                            <h5 class="notify-title">New Account Created</h5>
                                            <p class="mb-0 notify-desc">From USA an user has registered.</p>
                                            <p class="mb-0 notify-time">Yesterday</p>
                                        </div>
                                        <div class="notify-close position-absolute end-0 me-3">
                                            <i class="material-icons-outlined fs-6">close</i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-md-flex d-none">
                    <a class="nav-link position-relative" data-bs-toggle="offcanvas" href="#offcanvasCart">
                        <i class="material-icons-outlined">shopping_cart</i>
                        <span class="badge-notify">8</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="javascrpt:;" class="dropdown-toggle dropdown-toggle-nocaret" data-bs-toggle="dropdown">
                        <img src="assets/images/avatars/01.png" class="rounded-circle p-1 border" width="45" height="45" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-user dropdown-menu-end shadow">
                        <a class="dropdown-item  gap-2 py-2" href="javascript:;">
                            <div class="text-center">
                                <img src="assets/images/avatars/01.png" class="rounded-circle p-1 shadow mb-3" width="90" height="90"
                                     alt="">
                                <h5 class="user-name mb-0 fw-bold">Hello, Jhon</h5>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/">
                            <i class="material-icons-outlined">person_outline</i>@SharedResource.Profile
                        </a>
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="javascript:;">
                            <i class="material-icons-outlined">local_bar</i>@SharedResource.Settings
                        </a>
                        <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/">
                            <i class="material-icons-outlined">dashboard</i>@SharedResource.Dashboard
                        </a>
                       
                        <hr class="dropdown-divider">
                            <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="/Account/Logout">
                            <i class="material-icons-outlined">power_settings_new</i>@SharedResource.Logout
                        </a>
                    </div>
                </li>
            </ul>

        </nav>
    </header>
    <!--end top header-->
    <!--start sidebar-->
    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="logo-icon">
                <img src="assets/images/Logo.png" class="logo-img" alt="">
            </div>
            <div class="logo-name flex-grow-1">
                <h5 class="mb-0">GittBilSMS</h5>
            </div>
            <div class="sidebar-close">
                <span class="material-icons-outlined">close</span>
            </div>
        </div>
        <div class="sidebar-nav">
            <!--navigation-->
            <ul class="metismenu" id="sidenav">
                <li class="mm-active">
                    <a href="/" class="has-arrow" area-expanded="true">
                        <div class="parent-icon">
                            <i class="material-icons-outlined">home</i>
                        </div>
                        <div class="menu-title">@SharedResource.Dashboard </div>
                    </a>
                    <ul class="mm-collapse mm-show">
                        <li>
                            <a href="javascript:;" onclick="showSmsFormModal()"><i class="material-icons-outlined">arrow_right</i>@SharedResource.Sendsms</a>
                        </li>
                    </ul>
                    
                </li>
                <li>
                    <a href="javascript:;" class="has-arrow" >
                        <div class="parent-icon">
                            <i class="material-icons-outlined">widgets</i>
                        </div>
                        <div class="menu-title">@SharedResource.Operation</div>
                    </a>
                    <ul>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Orders</a>
                        </li>
                        <li>
                            <a href="/Companies"><i class="material-icons-outlined">arrow_right</i>@SharedResource.Companies</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Users</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Invalid_Numbers</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Pricing</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.API_Management</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Support_Requests</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class="material-icons-outlined">apps</i>
                        </div>
                        <div class="menu-title">@SharedResource.Reports</div>
                    </a>
                    <ul>
                        <li>
                            <a href="app-emailbox.html"><i class="material-icons-outlined">arrow_right</i>@SharedResource.Credit_Topups</a>
                        </li>
                    </ul>
                </li>

           
                <li>
                    <a class="has-arrow" href="javascript:;">
                        <div class="parent-icon">
                            <i class="material-icons-outlined">toc</i>
                        </div>
                        <div class="menu-title">@SharedResource.Management</div>
                    </a>
                    <ul>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Users</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Dealers</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Roles</a>
                        </li>
                        <li>
                            <a href=""><i class="material-icons-outlined">arrow_right</i>@SharedResource.Settings</a>
                        </li>
                       
                    </ul>
                </li>
             
            </ul>
            <!--end navigation-->
        </div>
    </aside>
    
    <button class="btn btn-grd btn-grd-primary position-fixed bottom-0 end-0 m-3 d-flex align-items-center gap-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">
        <i class="material-icons-outlined">tune</i>Customize
    </button>
    }
    <!-- Modal -->
    <div class="modal fade" id="smsModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
           <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card">
                            <div class="card-header modal-header px-4 py-3">
                                <h5 class="mb-0 modal-title">@SharedResource.Sendsms</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="card-body p-4">
                            <form id="smsForm">
                                <div class="row mb-3">
                                    <label for="input35" class="col-sm-3 col-form-label">@SharedResource.Firm</label>
                                    <div class="col-sm-9">
                                            <select class="form-select" id="selectFirm" data-placeholder="Choose one thing">

                                                <option>Test</option>
                                                <option>Test2</option>
                                            </select>
                                    </div>
                                </div>
                               <div class="dependent-fields">
                                <div class="row mb-3">
                                        <label for="input36" class="col-sm-3 col-form-label">@SharedResource.Directory</label>
                                    <div class="col-sm-9">
                                            <select class="form-select" id="selectDirectory" data-placeholder="Choose one thing">

                                                <option>Test</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                        <label for="input37a" class="col-sm-3 col-form-label">@SharedResource.Numbers</label>
                                    <div class="col-sm-9">
                                                <textarea class="form-control" id="bsValidation13" placeholder="@SharedResource.Numbers" rows="3" required></textarea>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                        <label for="input37" class="col-sm-3 col-form-label">@SharedResource.File</label>
                                    <div class="col-sm-9">
                                            <div class="card">
                                                <div class="card-body">
                                                        <input id="numberUpload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple>
                                                        <p class="mb-0 steper-sub-title">
                                                          @SharedResource.Filemessage1
                                                            <br/>
                                                        @SharedResource.Filemessage2
                                                        </p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                        <label for="input38a" class="col-sm-3 col-form-label">@SharedResource.Dateofshipment</label>
                                    <div class="col-sm-9">
                                            <input type="text" class="form-control date-time">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                        <label for="input38" class="col-sm-3 col-form-label">@SharedResource.Past_messages</label>
                                    <div class="col-sm-9">
                                            <select class="form-select" id="pastMessaages" data-placeholder="Choose one thing">

                                                <option>Test</option>
                                            </select>
                                        </div>
                                </div>
                                <div class="row mb-3">
                                        <label for="input39" class="col-sm-3 col-form-label">@SharedResource.Message</label>
                                    <div class="col-sm-9">
                                            <textarea class="form-control" id="message" placeholder="@SharedResource.Message" rows="3" required></textarea>
                                            <p class="mb-0 steper-sub-title">@SharedResource.MessageText</p>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                        <label for="input40" class="col-sm-3 col-form-label">@SharedResource.Choose_API</label>
                                    <div class="col-sm-9">
                                            <select class="form-select" id="chooseApi" data-placeholder="Choose one thing">

                                                <option>Telsim</option>
                                                <option>Test</option>
                                                <option>Yurtici</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-9">
                                        <div class="d-md-flex d-grid align-items-center gap-3">
                                            <button type="submit" class="btn btn-grd-primary px-4">@SharedResource.Submit</button>
                                            <button type="reset" class="btn btn-grd-info px-4">@SharedResource.Reset</button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
           </div>
           </div>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="staticBackdrop">
        <div class="offcanvas-header border-bottom h-70">
            <div class="">
                <h5 class="mb-0">Theme Customizer</h5>
                <p class="mb-0">Customize your theme</p>
            </div>
            <a href="javascript:;" class="primaery-menu-close" data-bs-dismiss="offcanvas">
                <i class="material-icons-outlined">close</i>
            </a>
        </div>
        <div class="offcanvas-body">
            <div>
                <p>Theme variation</p>

                <div class="row g-3">
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="BlueTheme" checked>
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BlueTheme">
                            <span class="material-icons-outlined">contactless</span>
                            <span>Blue</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="LightTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="LightTheme">
                            <span class="material-icons-outlined">light_mode</span>
                            <span>Light</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="DarkTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="DarkTheme">
                            <span class="material-icons-outlined">dark_mode</span>
                            <span>Dark</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="SemiDarkTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="SemiDarkTheme">
                            <span class="material-icons-outlined">contrast</span>
                            <span>Semi Dark</span>
                        </label>
                    </div>
                    <div class="col-12 col-xl-6">
                        <input type="radio" class="btn-check" name="theme-options" id="BoderedTheme">
                        <label class="btn btn-outline-secondary d-flex flex-column gap-1 align-items-center justify-content-center p-4" for="BoderedTheme">
                            <span class="material-icons-outlined">border_style</span>
                            <span>Bordered</span>
                        </label>
                    </div>
                </div><!--end row-->

            </div>
        </div>
    </div>
    <!-- Main Content -->
    <main class="main-wrapper">
        <div class="main-content">
            @RenderBody()
        </div>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <!-- Scripts -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->

    <!--plugins-->
    <script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="assets/plugins/metismenu/metisMenu.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="assets/plugins/fancy-file-uploader/jquery.ui.widget.js"></script>
    <script src="assets/plugins/fancy-file-uploader/jquery.fileupload.js"></script>
    <script src="assets/plugins/fancy-file-uploader/jquery.iframe-transport.js"></script>
    <script src="assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js"></script>
    <script src="assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js"></script>
    <script src="assets/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <script src="assets/plugins/bs-stepper/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(".data-attributes span").peity("donut")
    </script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/dashboard1.js"></script>
    <script src="js/Custom.js"></script>
    <script>
        new PerfectScrollbar(".user-list")
    </script>
 
</body>
</html>
