@using GittBilSmsCore.ViewModels
@model AddCompanyViewModel
@{
    ViewData["Title"] = "Firm";
}
@section Scripts {
    <script>
    
          window.localizedText = @Html.Raw(Json.Serialize(new
            {
                activate = SharedResource.Activate ?? "Activate",
                deactivate = SharedResource.Deactivate ?? "Deactivate"
            }));
    </script>
}
@{
    var canEditFirm = Context.Session.HasPermission("Firm", "Edit");
}
<div id="permission-flags-firm"
     data-can-edit-firm="@canEditFirm.ToString().ToLower()">
</div>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">@SharedResource.Companies</h4>
        @if (Context.Session.HasAll(("Firm", "Read"), ("Firm", "Edit")))
                {
            <button class="btn btn-primary d-flex align-items-center justify-content-center" id="addCompanyBtn">   <i class="material-icons-outlined">add</i> @SharedResource.Add_Company</button>
                }
    </div>

    <!-- Table -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <div id="datatableWrapper" style="position: relative;">
                <table id="companiesList" class="table table-striped table-bordered">
                <thead>
                    <tr>
                                <th style="display:none;">CompanyId</th>
                            <th>@SharedResource.Company_Name</th>
                            <th>@SharedResource.Is_it_active</th>
                            <th>@SharedResource.Credit</th>
                                <th>@SharedResource.Default_API</th>
                            <th>@SharedResource.Pricing</th>
                       
                            <th>@SharedResource.Trusted_sender</th>
                            <th>@SharedResource.Can_send_support_request</th>
                            <th>@SharedResource.Refundable</th>
                            <th>@SharedResource.Creation_Date</th>
                            <th>@SharedResource.Updated_Date</th>
                               @if (canEditFirm) 
                        {
                                <th class="sorting_desc">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <!-- Populate with JS or server-side -->
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>
