@{
    ViewData["Title"] = "Transaction History";
}

<h3 class="mb-4"># @SharedResource.transactionhistory</h3>



<table id="transactionsTable" class="table table-dark table-striped w-100">
    <thead>
        <tr>
            <th>@SharedResource.Transaction_Type</th>
            <th>@SharedResource.Credit</th>
            <th>@SharedResource.Total</th>
            <th>@SharedResource.Currency</th>
            <th>@SharedResource.Unit_Price</th>
            <th>@SharedResource.Transaction_Date</th>
        </tr>
    </thead>
</table>