@{
    ViewData["Title"] = "Credit Top-ups";
}

<h3># @SharedResource.Credittopups</h3>
<div class="table-responsive">
<table id="creditTopupsTable" class="table table-bordered">
    <thead>
        <tr>
            <th>@SharedResource.Firm</th>
            <th>@SharedResource.Credit</th>
            <th>@SharedResource.Total</th>
            <th>@SharedResource.Currency</th>
            <th>@SharedResource.Unit_Price</th>
            <th>@SharedResource.Transaction_Date</th>
        </tr>
    </thead>
</table>
</div>